body {
    font-family: monospace;
    background-image: url(red\ planet.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    font-size: 20px;
    background-color: #000000;
  }
  a {
    color: #8a3801;
    text-decoration: none;
    padding: 21px;
  }
  a:hover {
    text-decoration:none;
  }
  .greet {
    color: #e77d11;
    margin-top: 85px;
    margin-bottom: -113px;
    padding: 50px;
    padding-bottom: 0px;
    font-size: 250%;
    font-family: monospace;
}
  .my_name{
    font-family: 'mars',sans-serif;
    font-size: 140px;
    color: #e77d11;
    line-height: 130px;
    margin-bottom: 160px;
    
  }
header{
  background-color: #f0e7e7;
  margin: 19px 0px 0px 18px;
  padding: 26px 0px 24px 0px;
  position: fixed;
  width: 392px;
  top: 0;
  text-align: center;
  left: 0;
  right: 0px;
  z-index: 1;
  border-radius: 50px;
}
#about {
  background-color: #e77d11;
  padding: 65px;
  text-align: justify;
  margin: 15px;
  border-radius: 50px;
  margin-top: 160px;
}
#about h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
#adout p {
  font-size: 24px;
  line-height: 1.5;
}
#contact ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

#contact li {
  margin: 0 -17px;
  color: #000000;
}

#contact a {
  color: #f0e7e7;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#contact i {
  font-size: 40px;
  margin-right: 5px;
  transition: transform 0.2s;
}

#contact a:hover {
  color: #e77d11;
}

#contact a:hover i {
  transform: scale(1.5);
}
#contact h2 {
  font-size: 25px;
}
#contact p {
  font-size: 20px;
  margin-top: -20px;
}
footer {
  border-radius: 25px;
  background-color: #8a3801;
  font-size: 50px;
  text-align: center;
  height: 145px;
}
